.content {
    max-width: 1200px;
    margin: 30px auto;
    font-size: 17px;

    h2 {

        text-align: center;

        a {
            text-decoration: none;
            color: #f1c40f
        }

        a:hover {
            color: #f39c12
        }
    }
}